{% extends 'base/base.html' %}

{% block content %}
<center>
    {% if searched %}
    <h1> You searched for {{ searched }} </h1>
    <br/>
    <table class="table table-light table-striped">
    <thead>
    <tr>
	<th>CAE part Number</th>
	<th>CAE serial Number</th>
	<th>Piece Model</th>
	<th>Manufacturer</th>
	<th>Manufacturer Serial Number</th>
	<th>OEM</th>
	<th>OEM Serial Number</th>
	<th>Documentation</th>
	<th>Type</th>
	<th>Characteristic</th>
	<th>Location</th>
	<th>Status</th>
	</tr>
    </thead>
    <tr class="datarow">
      {% for result in results %}
      <td><a href="{{ result.piece.get_absolute_url }}">{{ result.piece.cae_part_number }}</a></td>
      <td><a href="{{ result.get_absolute_url }}">{{ result.serial_number }}</a></td>
      <td>{{ result.piece.piece_model }}</td>
      <td>{{ result.piece.manufacturer }}</td>
      <td>{{ result.manufacturer_serialnumber }}</td>
      <td>{{ result.piece.provider }}</td>
      <td>{{ result.provider_serialnumber }}</td>
      {% if result.piece.documentation %}
      <td><a href="{{MEDIA_URL}}{{ result.piece.documentation }}">File</a></td>
      {% else %}
      <td>No Documentation</td>
      {% endif %}
      <td>{{ result.piece.item_type }}</td>
      <td>{{ result.piece.item_characteristic }}</td>
        {% if result.eighth_location %}
            <td>{{result.first_location}}-{{result.second_location|default_if_none:""}}-{{result.third_location|default_if_none:""}}-{{result.fourth_location|default_if_none:""}}-{{result.fifth_location|default_if_none:""}}-{{result.sixth_location|default_if_none:""}}-{{result.seventh_location|default_if_none:""}}-{{result.eighth_location|default_if_none:""}}</td>
        {% elif result.seventh_location %}
            <td>{{result.first_location}}-{{result.second_location|default_if_none:""}}-{{result.third_location|default_if_none:""}}-{{result.fourth_location|default_if_none:""}}-{{result.fifth_location|default_if_none:""}}-{{result.sixth_location|default_if_none:""}}-{{result.seventh_location|default_if_none:""}}</td>
        {% elif result.sixth_location %}
            <td>{{result.first_location}}-{{result.second_location|default_if_none:""}}-{{result.third_location|default_if_none:""}}-{{result.fourth_location|default_if_none:""}}-{{result.fifth_location|default_if_none:""}}-{{result.sixth_location|default_if_none:""}}</td>
        {% elif result.fifth_location %}
            <td>{{result.first_location}}-{{result.second_location|default_if_none:""}}-{{result.third_location|default_if_none:""}}-{{result.fourth_location|default_if_none:""}}-{{result.fifth_location|default_if_none:""}}</td>
        {% elif result.fourth_location %}
            <td>{{result.first_location}}-{{result.second_location|default_if_none:""}}-{{result.third_location|default_if_none:""}}-{{result.fourth_location|default_if_none:""}}</td>
        {% elif result.third_location %}
            <td>{{result.first_location}}-{{result.second_location|default_if_none:""}}-{{result.third_location|default_if_none:""}}</td>
        {% else %}
            <td>{{result.first_location}}-{{result.second_location|default_if_none:""}}</td>
        {% endif %}
      <td>{{ result.status }}</td>
    </tr>
    {% endfor %}
</table>
    {% else %}
    <h1> You forgot to search a specific term </h1>
    {% endif %}
</center>
{% endblock %}