asgiref==3.4.1
Django==3.2.9
django-extra-views==0.14.0
django-js-asset==1.2.2
django-mptt==0.13.4
django-qr-code==2.3.0
django-simple-history==3.0.0
django-treebeard==4.5.1
django-treewidget==0.4.0
django-widget-tweaks==1.4.9
numpy==1.19.5
pandas==1.1.5
Pillow==8.4.0
python-dateutil==2.8.2
pytz==2021.3
segno==1.4.0
six==1.16.0
sqlparse==0.4.2
typing-extensions==3.10.0.2