{% extends 'base/base.html' %}

{% block content %}
<div class="card">
  <div class="card-header">
    Equivalence Detail
  </div>
  <div class="card-body">
    <h5 class="card-title"> Name : {{ equivalence.name }}</h5>
    <p class="card-text">
    <p><strong>Piece equivalent:</strong></p>
	<table class="table table-light table-striped">
    	<thead>
        <tr>
		<th>Name</th>
		<th>CAE Part Number</th>
		</tr>
  		</thead>
    	{% for piece in pieces %}
		{% if piece %}
		<tr class="datarow">
      	<td><a href="{{ piece.get_absolute_url }}">{{ piece.name }}</a></td>
      	<td>{{ piece.cae_part_number }}</td>
    	{% endif %}
    	{% endfor %}
	</table>
  </div>
	<td><a href="{% url 'equivalence-update' equivalence.id %}" class="btn btn-outline-secondary btn-sm">Update</a>
</div>

{% endblock %}