{% extends 'base/base.html' %}

{% block content %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
    {% endfor %}
</ul>
{% endif %}

<h1>Add New Piece</h1>
  <br/><br/>
<form id="form_with_formset" action="#" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <table class="table">
    {{ form.as_table }}
  </table>
      <button id="submit-button" type="submit" class="btn btn-lg btn-info btn-block">
        <span id="submit-button-amount">Add Piece</span>
      </button>
</form>
{% endblock %}