{% extends 'base/base.html' %}

{% block content %}
<style>
	.topright {
  		position: absolute;
  		top: 50px;
  		right: 16px;
  		font-size: 18px;
	}
	img {
  		width: 20%;
  		height: auto;
	}
	.center {
  		display: block;
  		margin-left: auto;
  		margin-right: auto;
  		width: 50%;
	}
	.card_instance {
  		position: relative;
  		top: 500px;
	}
</style>

<div class="card">
  <div class="card-header">
    Group Assembly Detail
  </div>
  <div class="card-body">
    <p class="card-text">
    <h5 class="card-title"> Name : {{ groupassembly.name }}</h5>
    	<ul>
  <p><strong>Part Number:</strong> {{groupassembly.kit_partnumber}}</p>
  <p><strong>Manufacturer:</strong> {{groupassembly.manufacturer}}</p>
  <p><strong>Manufacturer Part Number:</strong> {{groupassembly.manufacturer_part_number}}</p>
  <p><strong>Provider:</strong> {{groupassembly.provider}}</p>
  <p><strong>Provider Part Number:</strong> {{groupassembly.provider_part_number}}</p>
  {% if groupassembly.documentation %}
  <p><a href="{{MEDIA_URL}}{{ groupassembly.documentation }}"><strong>Documentation</strong> </a></p>
  {% endif %}
  {% if groupassembly.image %}
  <button class="btn btn-outline-secondary btn-sm" onclick="resetImg()">Reset Picture Size</button>
  <p><img src="{{ groupassembly.image.url}}" alt="connect" class="topright"
			onclick="enlargeImg()" id="img1"></p>
  {% endif %}
	    <p><strong>History:</strong></p>
			<table class="table table-light table-striped">
				<thead>
    			<tr>
				<th>Group Assembly</th>
    			<th>Type of update</th>
				<th>User</th>
				<th>Time</th>
				</tr>
			</thead>
			{% for h in groupassembly.get_history %}
			<tr class="datarow">
				<td>{{ h.name }}</td>
				<td>{{ h.get_history_type_display }}</td>
				<td>{{ h.history_user }}</td>
				<td>{{ h.history_date }}</td>
			</tr>
			{% endfor %}
		</table>
	</ul>
    </p>
  <td><a href="{% url 'groupassembly-update' groupassembly.id %}" class="btn btn-outline-secondary btn-sm">Update</a>
  <td><a href="{% url 'groupassembly-history' groupassembly.id %}" class="btn btn-outline-secondary btn-sm">Full History</a>
  </div>
</div>

<div class="card-2">
  <div class="card-header">
    Available Assemblies
  </div>
    {% if kit %}

    <table class="table table-light table-striped">
	    <thead>
		<tr>
		<td><p>Name</p></td>
		<td><p>Serial Number</p></td>
		<td><p>Location</p></td>
		<td><p>Status</p></td>
        </tr>
		</thead>
      {% for copy in kit %}
      {% if copy.group_assembly.kit_partnumber == groupassembly.kit_partnumber %}
      <tr class="datarow">
        <td><a href="{{ copy.get_absolute_url }}">{{ copy.name }}</a></td>
        <td>{{ copy.kit_serialnumber }}</td>
	  {% if copy.eighth_location %}
	  	<td>{{copy.first_location}}-{{copy.second_location|default_if_none:""}}-{{copy.third_location|default_if_none:""}}-{{copy.fourth_location|default_if_none:""}}-{{copy.fifth_location|default_if_none:""}}-{{copy.sixth_location|default_if_none:""}}-{{copy.seventh_location|default_if_none:""}}-{{copy.eighth_location|default_if_none:""}}</td>
	  {% elif copy.seventh_location %}
	  	<td>{{copy.first_location}}-{{copy.second_location|default_if_none:""}}-{{copy.third_location|default_if_none:""}}-{{copy.fourth_location|default_if_none:""}}-{{copy.fifth_location|default_if_none:""}}-{{copy.sixth_location|default_if_none:""}}-{{copy.seventh_location|default_if_none:""}}</td>
	  {% elif copy.sixth_location %}
	  	<td>{{copy.first_location}}-{{copy.second_location|default_if_none:""}}-{{copy.third_location|default_if_none:""}}-{{copy.fourth_location|default_if_none:""}}-{{copy.fifth_location|default_if_none:""}}-{{copy.sixth_location|default_if_none:""}}</td>
	  {% elif copy.fifth_location %}
	  	<td>{{copy.first_location}}-{{copy.second_location|default_if_none:""}}-{{copy.third_location|default_if_none:""}}-{{copy.fourth_location|default_if_none:""}}-{{copy.fifth_location|default_if_none:""}}</td>
	  {% elif copy.fourth_location %}
	  	<td>{{copy.first_location}}-{{copy.second_location|default_if_none:""}}-{{copy.third_location|default_if_none:""}}-{{copy.fourth_location|default_if_none:""}}</td>
	  {% elif copy.third_location %}
	  	<td>{{copy.first_location}}-{{copy.second_location|default_if_none:""}}-{{copy.third_location|default_if_none:""}}</td>
	  {% else %}
	  	<td>{{copy.first_location}}-{{copy.second_location|default_if_none:""}}</td>
	  {% endif %}
        <td>{{ copy.status }}</td>
      </tr>
	{% endif %}
	{% endfor %}
	</table>
    {% endif %}
</div>

<!-- script to set display picture -->
    <script>
      // Get the img object using its Id
      img = document.getElementById("img1");
      // Function to increase image size
      function enlargeImg() {
		img.setAttribute('class', 'center')
        // Set image size to 1.5 times original
        img.style.transform = "scale(1.5)";
        // Animation effect
        img.style.transition = "transform 0.25s ease";
      }
      // Function to reset image size
      function resetImg() {
        // Set image size to original
        img.style.transform = "scale(1)";
        img.style.transition = "transform 0.25s ease";
		img.setAttribute('class', 'topright')
      }
    </script>
{% endblock %}