{% extends 'base/base.html' %}

{% block content %}
 <h1>Dashboard</h1>

<table class="table table-light table-striped">
    <thead>
    <tr>
    <td><p>Day to calibration</p></td>
    <td><p>Calibration Date</p></td>
    <td><p>Instance</p></td>
    <td><p>Model</p></td>
    <td><p>Piece</p></td>
    </tr>
    </thead>

    {% for instance in my_piece_instances %}
    <tr class="datarow">
        {% if instance.is_calibration_due%}
            <td>{{ instance.calibration_days }} days</td>
            <td>{{ instance.date_calibration}}</td>
            <td>{{ instance}}</td>
            <td>{{ instance.piece.piece_model}}</td>
            <td>{{ instance.piece }}</td>
        {% endif %}
    </tr>
    {% endfor %}
</table>

{% endblock content %}