{% extends 'base/base.html' %}

{% block title %}Dashboard{% endblock title %}

{% block content %}
    <!-- Widgets  -->
    <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="stat-widget-five">
                        <div class="stat-icon dib flat-color-1">
                            <i class="fa fa-product-hunt"></i>
                        </div>
                        <div class="stat-content">
                            <div class="text-left dib">
                                <div class="stat-text"><span class="count">{{ article }}</span></div>
                                <div class="stat-heading">Article</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="stat-widget-five">
                        <div class="stat-icon dib flat-color-2">
                            <i class="fa fa-product-hunt"></i>
                        </div>
                        <div class="stat-content">
                            <div class="text-left dib">
                                <div class="stat-text"><span class="count">{{ item }}</span></div>
                                <div class="stat-heading">Item</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Widgets -->

    <div class="clearfix"></div>

<!-- Articles -->
    <div class="articles">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="box-title">Article </h4>
                    </div>
                    <div class="card-body--">
                        <div class="table-stats order-table ov-h">
                            <table class="table ">
                                <thead>
                                    <tr>
                                        <th class="serial">#</th>
                                        <th>Manufacturer</th>
                                        <th>Date</th>
                                        <th>Manufacturer PartNumber</th>
                                        <th>Manufacturer Website</th>
                                        <th>Contractor</th>
                                        <th>Contractor PartNumber</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% if articles %}
                                    {% for article in articles %}
                                    <tr>
                                        <td class="serial">{{ forloop.counter }}</td>
                                        <td>{{ article.manufacturer }}</td>
                                        <td>{{ article.manufacturer_date }}</td>
                                        <td>{{ article.manufacturer_partnumber }}</td>
                                        <td>{{ article.website }}</td>
                                        <td>{{ article.contractor }}</td>
                                        <td>{{ article.contractor_partnumber }}</td>
                                    </tr>
                                    {% endfor %}
                                    {% else %}
                                        <tr><td>No Article Data</td></tr>
                                    {% endif %}
                                </tbody>
                            </table>
                        </div> <!-- /.table-stats -->
                    </div>
                </div> <!-- /.card -->
            </div>  <!-- /.col-lg-8 -->
        </div>
    </div>
    <!-- /.articles -->

    <!-- Items -->
    <div class="items">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="box-title">Item </h4>
                    </div>
                    <div class="card-body--">
                        <div class="table-stats order-table ov-h">
                            <table class="table ">
                                <thead>
                                    <tr>
                                        <th class="serial">#</th>
                                        <th>Article</th>
                                        <th>CAE Part name</th>
                                        <th>CAE Part Number</th>
                                        <th>Model</th>
                                        <th>Date</th>
                                        <th>Description</th>
                                        <th>Documentation</th>
                                        <th>Type</th>
                                        <th>Characteristic</th>
                                        <th>Location</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% if items %}
                                    {% for item in items %}
                                    <tr>
                                        <td class="serial">{{ forloop.counter }}</td>
                                        <td>{{ item.article_related }}</td>
                                        <td>{{ item.cae_partname }}</td>
                                        <td>{{ item.cae_partnumber }}</td>
                                        <td>{{ item.item_model }}</td>
                                        <td>{{ item.record_date }}</td>
                                        <td>{{ item.description }}</td>
                                        <td>{{ item.documentation }}</td>
                                        <td>{{ item.item_type }}</td>
                                        <td>{{ item.item_characteristic }}</td>
                                        <td>{{ item.principal_location }}</td>
                                    </tr>
                                    {% endfor %}
                                    {% else %}
                                        <tr><td>No Item Data</td></tr>
                                    {% endif %}
                                </tbody>
                            </table>
                        </div> <!-- /.table-stats -->
                    </div>
                </div> <!-- /.card -->
            </div>  <!-- /.col-lg-8 -->
        </div>
    </div>
    <!-- /.items -->
{% endblock content %}