{% extends 'base/base.html' %}

{% block content %}
  <h1>Software Inventory Management System</h1>
  <p>Welcome to SIMS, a website developed by <em>CAE Cazaux</em>!</p>
  <p>Go to <a href="{% url 'dashboard' %}">Dashboard</a></p>
  <p>The inventory has the following record counts:</p>
  <ul>
    <li><strong>Pieces:</strong> {{ num_pieces }}</li>
  </ul>
  <p><a class="nav-link" href="{% url 'database_csv' %}">Generate Database CSV File</a></p>
  <p><a class="nav-link" href="{% url 'shipped_received_csv' %}">Generate Database Shipped-Received Report</a></p>
  <p><a class="nav-link" href="{% url 'movement_record_csv' %}">Generate Movement Report</a></p>
  <p><a class="nav-link" href="{% url 'reparation_record_csv' %}">Piece in Reparation Report</a></p>
  <p><a class="nav-link" href="{% url 'low_stock_record_csv' %}">Low Stock Report</a></p>
{% endblock %}