{% extends 'base/base.html' %}

{% block content %}
  <h1>Software Inventory Management System</h1>
  <p>Welcome to SIMS, a website developed by <em>CAE Cazaux</em>!</p>
  <p>Go to <a href="{% url 'dashboard' %}">Dashboard</a></p>
  <p>The inventory has the following record counts:</p>
  <ul>
    <li><strong>Pieces:</strong> {{ num_pieces }}</li>
  </ul>
<br></br>
<h4>Reporting section</h4>
<br>
<form class="d-flex" method="POST" action="{%url 'database_csv' %}">
  {% csrf_token %}
      <button class="btn btn-outline-secondary" type="submit"> Generate Database CSV File </button>
</form>
</br>
<br>
<form class="d-flex" method="POST" action="{%url 'low_stock_record_csv' %}">
  {% csrf_token %}
      <button class="btn btn-outline-secondary" type="submit"> Low Stock Report </button>
</form>
</br>
<h5>Shipped-Received Report</h5>
<form class="d-flex" method="POST" action="{%url 'shipped_received_display' %}">
  {% csrf_token %}
       <label for="sr_start_date">From: </label>
	        <input type="date" name="sr_start_date" id="sr_start_date">
       <label for="sr_end_date">To: </label>
	        <input type="date" name="sr_end_date" id="sr_end_date">
      <button class="btn btn-outline-secondary" type="submit"> Generate Shipped-Received Report </button>
</form>
</br>
<br>
<h5>Reparation Report</h5>
<form class="d-flex" method="POST" action="{%url 'reparation_record_display' %}">
  {% csrf_token %}
       <label for="rep_start_date">From: </label>
	        <input type="date" name="rep_start_date" id="rep_start_date">
       <label for="rep_end_date">To: </label>
	        <input type="date" name="rep_end_date" id="rep_end_date">
      <button class="btn btn-outline-secondary" type="submit"> Generate Reparation Report </button>
</form>
</br>
<br>
<h5>Movement Report</h5>
<form class="d-flex" method="POST" action="{%url 'movement_record_display' %}">
  {% csrf_token %}
       <label for="mov_start_date">From: </label>
	        <input type="date" name="mov_start_date" id="mov_start_date">
       <label for="mov_end_date">To: </label>
	        <input type="date" name="mov_end_date" id="mov_end_date">
      <button class="btn btn-outline-secondary" type="submit"> Generate Movement Report</button>
</form>
</br>

{% endblock %}