{% extends 'base/base.html' %}

{% block content %}
<h1>Add New Piece</h1>
  <br/><br/>
<form id="form_with_formset" action="#" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <table class="table">
    {{ form.as_table }}
  </table>

  <!-- this inputs value indicates the we want to add or remove a row -->
  <input id="wtd" name="wtd" type="hidden" value="1">

  <div id="formset_container">
      {% include 'inventory/formset.html' %}
  </div>

  <button type="submit" class="btn btn-success">submit</button>
</form>
{% endblock %}