{% extends 'base/base.html' %}

{% block content %}
  <h1>Assembly and Instance List</h1>
  <br/>
  {% if mylist %}
  <p>There are assemblies and instances in the inventory.</p>
<form class="d-flex" method="POST"
action="{%url 'search-general-database' %}">
    {% csrf_token %}
    <input class="form-control me-2" type="search"
           placeholder="Search Database" aria-label="Search" name="searched">
    <button class="btn btn-outline-secondary" type="submit"> Search </button>
</form>
{% csrf_token %}
<table class="table table-light table-striped">
  <thead>
    <tr>
	<th>Name</th>
	<th>Piece/Group Assembly</th>
    <th>Part Number</th>
    <th>Serial Number</th>
	<th>Status</th>
	<th>Location</th>
	</tr>
  </thead>
    {% for item in mylist %}
    <tr class="datarow">
		{% if item.group_assembly %}
            <td><a href="{{ item.get_absolute_url }}">{{ item.name }}</a></td>
            <td><a href="{{ item.group_assembly.get_absolute_url }}">{{ item.group_assembly }}</a></td>
            <td>{{ item.group_assembly.kit_partnumber }} {{ item.piece.cae_part_number }} </td>
            <td>{{ item.kit_serialnumber }}</td>
            <td>{{ item.kit_status }}</td>
            {% if item.eighth_location %}
	  	        <td>{{item.first_location}}-{{item.second_location|default_if_none:""}}-{{item.third_location|default_if_none:""}}-{{item.fourth_location|default_if_none:""}}-{{item.fifth_location|default_if_none:""}}-{{item.sixth_location|default_if_none:""}}-{{item.seventh_location|default_if_none:""}}-{{item.eighth_location|default_if_none:""}}</td>
	        {% elif item.seventh_location %}
	  	        <td>{{item.first_location}}-{{item.second_location|default_if_none:""}}-{{item.third_location|default_if_none:""}}-{{item.fourth_location|default_if_none:""}}-{{item.fifth_location|default_if_none:""}}-{{item.sixth_location|default_if_none:""}}-{{item.seventh_location|default_if_none:""}}</td>
	        {% elif item.sixth_location %}
	  	        <td>{{item.first_location}}-{{item.second_location|default_if_none:""}}-{{item.third_location|default_if_none:""}}-{{item.fourth_location|default_if_none:""}}-{{item.fifth_location|default_if_none:""}}-{{item.sixth_location|default_if_none:""}}</td>
	        {% elif item.fifth_location %}
	  	        <td>{{item.first_location}}-{{item.second_location|default_if_none:""}}-{{item.third_location|default_if_none:""}}-{{item.fourth_location|default_if_none:""}}-{{item.fifth_location|default_if_none:""}}</td>
	        {% elif item.fourth_location %}
	  	        <td>{{item.first_location}}-{{item.second_location|default_if_none:""}}-{{item.third_location|default_if_none:""}}-{{item.fourth_location|default_if_none:""}}</td>
	        {% elif item.third_location %}
	  	        <td>{{item.first_location}}-{{item.second_location|default_if_none:""}}-{{item.third_location|default_if_none:""}}</td>
	        {% else %}
	  	        <td>{{item.first_location}}-{{item.second_location|default_if_none:""}}</td>
	        {% endif %}
	  		<td><a href="{% url 'kit-update' item.id %}" class="btn btn-outline-secondary btn-sm">Update</a></td>
            <td><a href="{% url 'kit-clone' item.id %}" class="btn btn-outline-secondary btn-sm">Clone</a></td>
        {% elif item.piece %}
            <td><a href="{{ item.get_absolute_url }}">{{ item.piece.name }}</a></td>
            <td><a href="{{ item.piece.get_absolute_url }}">{{ item.piece }}</a></td>
            <td>{{ item.piece.cae_part_number }}</td>
            <td>{{ item.serial_number }}</td>
            <td>{{ item.status }}</td>
            {% if item.eighth_location %}
	  	        <td>{{item.first_location}}-{{item.second_location|default_if_none:""}}-{{item.third_location|default_if_none:""}}-{{item.fourth_location|default_if_none:""}}-{{item.fifth_location|default_if_none:""}}-{{item.sixth_location|default_if_none:""}}-{{item.seventh_location|default_if_none:""}}-{{item.eighth_location|default_if_none:""}}</td>
	        {% elif item.seventh_location %}
	  	        <td>{{item.first_location}}-{{item.second_location|default_if_none:""}}-{{item.third_location|default_if_none:""}}-{{item.fourth_location|default_if_none:""}}-{{item.fifth_location|default_if_none:""}}-{{item.sixth_location|default_if_none:""}}-{{item.seventh_location|default_if_none:""}}</td>
	        {% elif item.sixth_location %}
	  	        <td>{{item.first_location}}-{{item.second_location|default_if_none:""}}-{{item.third_location|default_if_none:""}}-{{item.fourth_location|default_if_none:""}}-{{item.fifth_location|default_if_none:""}}-{{item.sixth_location|default_if_none:""}}</td>
	        {% elif item.fifth_location %}
	  	        <td>{{item.first_location}}-{{item.second_location|default_if_none:""}}-{{item.third_location|default_if_none:""}}-{{item.fourth_location|default_if_none:""}}-{{item.fifth_location|default_if_none:""}}</td>
	        {% elif item.fourth_location %}
	  	        <td>{{item.first_location}}-{{item.second_location|default_if_none:""}}-{{item.third_location|default_if_none:""}}-{{item.fourth_location|default_if_none:""}}</td>
	        {% elif item.third_location %}
	  	        <td>{{item.first_location}}-{{item.second_location|default_if_none:""}}-{{item.third_location|default_if_none:""}}</td>
	        {% else %}
	  	        <td>{{item.first_location}}-{{item.second_location|default_if_none:""}}</td>
	        {% endif %}
	        <td><a href="{% url 'update-piece-instance' item.id %}" class="btn btn-outline-secondary btn-sm">Update</a>
            <td><a href="{% url 'instance-clone' item.id %}" class="btn btn-outline-secondary btn-sm">Clone</a></td>
		 {% elif item.quantity %}
            <td><a href="{{ item.get_absolute_url }}">{{ item.name }}</a></td>
            <td>{{ NA }}</td>
            <td>{{ item.cae_part_number }}</td>
            <td>{{ item.serial_number }}</td>
            <td>{{ item.status }}</td>
            {% if item.eighth_location %}
	  	        <td>{{item.first_location}}-{{item.second_location|default_if_none:""}}-{{item.third_location|default_if_none:""}}-{{item.fourth_location|default_if_none:""}}-{{item.fifth_location|default_if_none:""}}-{{item.sixth_location|default_if_none:""}}-{{item.seventh_location|default_if_none:""}}-{{item.eighth_location|default_if_none:""}}</td>
	        {% elif item.seventh_location %}
	  	        <td>{{item.first_location}}-{{item.second_location|default_if_none:""}}-{{item.third_location|default_if_none:""}}-{{item.fourth_location|default_if_none:""}}-{{item.fifth_location|default_if_none:""}}-{{item.sixth_location|default_if_none:""}}-{{item.seventh_location|default_if_none:""}}</td>
	        {% elif item.sixth_location %}
	  	        <td>{{item.first_location}}-{{item.second_location|default_if_none:""}}-{{item.third_location|default_if_none:""}}-{{item.fourth_location|default_if_none:""}}-{{item.fifth_location|default_if_none:""}}-{{item.sixth_location|default_if_none:""}}</td>
	        {% elif item.fifth_location %}
	  	        <td>{{item.first_location}}-{{item.second_location|default_if_none:""}}-{{item.third_location|default_if_none:""}}-{{item.fourth_location|default_if_none:""}}-{{item.fifth_location|default_if_none:""}}</td>
	        {% elif item.fourth_location %}
	  	        <td>{{item.first_location}}-{{item.second_location|default_if_none:""}}-{{item.third_location|default_if_none:""}}-{{item.fourth_location|default_if_none:""}}</td>
	        {% elif item.third_location %}
	  	        <td>{{item.first_location}}-{{item.second_location|default_if_none:""}}-{{item.third_location|default_if_none:""}}</td>
	        {% else %}
	  	        <td>{{item.first_location}}-{{item.second_location|default_if_none:""}}</td>
	        {% endif %}
			<td><a href="{% url 'consumable-update' item.id %}" class="btn btn-outline-secondary btn-sm">Update</a>
    		<td><a href="{% url 'consumable-clone' item.id %}" class="btn btn-outline-secondary btn-sm">Clone</a></td>
        {% endif %}
    </tr>
    {% endfor %}
</table>
  {% else %}
    <p>There are no assembly, instance or consumable in the inventory.</p>
  {% endif %}
{% endblock %}