{% extends 'base/base.html' %}

{% block content %}
	<style>
		.pieceinstance-form {
			border-bottom: 1px solid black;
		}
		.hidden {
			display: none
		}
	</style>

	<h1>Update Assembly...</h1>
	<form id="form" action="#" method="post"
		  data-second_location-url="{% url 'ajax_load_second_location' %}"
		  data-third_location-url="{% url 'ajax_load_third_location' %}"
		  data-fourth_location-url="{% url 'ajax_load_fourth_location' %}"
		  data-fifth_location-url="{% url 'ajax_load_fifth_location' %}"
		  data-sixth_location-url="{% url 'ajax_load_sixth_location' %}"
		  data-seventh_location-url="{% url 'ajax_load_seventh_location' %}"
		  data-eighth_location-url="{% url 'ajax_load_eighth_location' %}"
		  enctype="multipart/form-data">
		{% csrf_token %}
		<h3>Assembly</h3>
		{{ form.as_p }}
		{% if formset %}
			{{ formset.management_form }}
			<h3>Instance</h3>
			<div id="pieceinstance-form-list">
			{% for form in formset %}
			<div class="pieceinstance-form">
				{{ form.as_p }}
			</div>
			{% endfor %}
			</div>
		<div id="empty-form" class="hidden">
			{{ formset.empty_form.as_p }}
		</div>
		<button id="add-more" type="button"> Add more </button>
		{% endif %}
		<button id="submit-button" type="submit" class="btn btn-lg btn-info btn-block">
        <span id="submit-button-amount">Update Assembly</span>
      </button>
	</form>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
	// To understand this section : https://www.youtube.com/watch?v=s3T-w2jhDHE&list=PLEsfXFp6DpzRMby_cSoWTFw8zaMdTEXgL&index=64
	const addMoreBtn = document.getElementById("add-more")
	const totalNewForms = document.getElementById("id_form-TOTAL_FORMS")
	addMoreBtn.addEventListener('click', add_new_form)

	function add_new_form(event) {
		// we prevent java console from populating (adding traffic)
		if (event) {
			event.preventDefault()
		}
		const currentPieceinstanceForms = document.getElementsByClassName("pieceinstance-form")
		let currentFormCount = currentPieceinstanceForms.length
		// we want the new form to appear after the last loaded form
		const formCopyTarget = document.getElementById("pieceinstance-form-list")
		// now add new empty form element to our html form
		const copyemptyFormEl = document.getElementById("empty-form").cloneNode(true)
		// we reset the new empty form class to have the same as the form (pieceinstance-form)
		copyemptyFormEl.setAttribute('class', 'pieceinstance-form')
		copyemptyFormEl.setAttribute('id', `form-${currentFormCount}`)
		const regex = new RegExp('__prefix__', 'g')
		copyemptyFormEl.innerHTML = copyemptyFormEl.innerHTML.replace(regex,
		currentFormCount)
		totalNewForms.setAttribute('value', currentFormCount + 1)
		formCopyTarget.append(copyemptyFormEl)
	}
</script>

<script>
    $("#id_first_location").change(function () {
      var url = $("#form").attr("data-second_location-url");  // get the url of the `load_second_location` view
      var previous_locId = $(this).val();  // get the selected previous_loc ID from the HTML input

      $.ajax({                       // initialize an AJAX request
        url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-second_location/)
        data: {
          'previous_loc': previous_locId       // add the previous_loc id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_second_location` view function
          $("#id_second_location").html(data);  // replace the contents of the second_location input with the data that came from the server
        }
      });

    });
  </script>
  <script>
    $("#id_second_location").change(function () {
      var url = $("#form").attr("data-third_location-url");  // get the url of the `load_second_location` view
      var previous_locId = $(this).val();  // get the selected previous_loc ID from the HTML input

      $.ajax({                       // initialize an AJAX request
        url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-second_location/)
        data: {
          'previous_loc': previous_locId       // add the previous_loc id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_second_location` view function
          $("#id_third_location").html(data);  // replace the contents of the second_location input with the data that came from the server
        }
      });

    });
  </script>
  <script>
    $("#id_third_location").change(function () {
      var url = $("#form").attr("data-fourth_location-url");  // get the url of the `load_second_location` view
      var previous_locId = $(this).val();  // get the selected previous_loc ID from the HTML input

      $.ajax({                       // initialize an AJAX request
        url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-second_location/)
        data: {
          'previous_loc': previous_locId       // add the previous_loc id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_second_location` view function
          $("#id_fourth_location").html(data);  // replace the contents of the second_location input with the data that came from the server
        }
      });

    });
  </script>
  <script>
    $("#id_fifth_location").change(function () {
      var url = $("#form").attr("data-fourth_location-url");  // get the url of the `load_second_location` view
      var previous_locId = $(this).val();  // get the selected previous_loc ID from the HTML input

      $.ajax({                       // initialize an AJAX request
        url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-second_location/)
        data: {
          'previous_loc': previous_locId       // add the previous_loc id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_second_location` view function
          $("#id_fifth_location").html(data);  // replace the contents of the second_location input with the data that came from the server
        }
      });

    });
  </script>
  <script>
    $("#id_fifth_location").change(function () {
      var url = $("#form").attr("data-sixth_location-url");  // get the url of the `load_second_location` view
      var previous_locId = $(this).val();  // get the selected previous_loc ID from the HTML input

      $.ajax({                       // initialize an AJAX request
        url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-second_location/)
        data: {
          'previous_loc': previous_locId       // add the previous_loc id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_second_location` view function
          $("#id_sixth_location").html(data);  // replace the contents of the second_location input with the data that came from the server
        }
      });

    });
  </script>
  <script>
    $("#id_sixth_location").change(function () {
      var url = $("#form").attr("data-seventh_location-url");  // get the url of the `load_second_location` view
      var previous_locId = $(this).val();  // get the selected previous_loc ID from the HTML input

      $.ajax({                       // initialize an AJAX request
        url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-second_location/)
        data: {
          'previous_loc': previous_locId       // add the previous_loc id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_second_location` view function
          $("#id_seventh_location").html(data);  // replace the contents of the second_location input with the data that came from the server
        }
      });

    });
  </script>
  <script>
    $("#id_seventh_location").change(function () {
      var url = $("#form").attr("data-eighth_location-url");  // get the url of the `load_second_location` view
      var previous_locId = $(this).val();  // get the selected previous_loc ID from the HTML input

      $.ajax({                       // initialize an AJAX request
        url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-second_location/)
        data: {
          'previous_loc': previous_locId       // add the previous_loc id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_second_location` view function
          $("#id_eighth_location").html(data);  // replace the contents of the second_location input with the data that came from the server
        }
      });

    });
  </script>

{% endblock %}