{% extends 'base/base.html' %}

{% block content %}
<div class="card">
  <div class="card-header">
    Piece Detail
  </div>
  <div class="card-body">
    <h5 class="card-title"> Assembly Name : {{ kit.name }}</h5>
    <p class="card-text">
    <ul>
        <p><strong>Description:</strong> {{ kit.description }}</p>
        <p><strong>Serial Number:</strong> {{ kit.kit_serialnumber }}</p>
  		<p><strong>History:</strong></p>
		{% for h in kit.history.all %}
   			<p>
			<td>{{ kit }} was </td>
			<td>{{ h.get_history_type_display }} by </td>
			<td><strong>User: </strong>{{ h.history_user }} at <strong>Time : </strong></td>
			<td>{{ h.history_date }} with <strong>Comment: </strong></td>
			{% if h.update_comment %}
				<td>{{ h.update_comment }} </td>
			{% else %}
				<td>No comment given</td>
			{% endif %}
        {% endfor %}</p>
	</ul>
    </p>
	  <td><a href="{% url 'kit-update' kit.id %}" class="btn btn-outline-secondary btn-sm">Update</a></td>
  </div>
</div>

<div class="card-2">
  <div class="card-header">
    Instances
  </div>
    {% if piece_instance %}
    <table class="table table-light table-striped">
	    <thead>
		<tr>
		<td><p>CAE Serial Number</p></td>
		<td><p>Model</p></td>
		<td><p>Location</p></td>
		<td><p>Status</p></td>
        </tr>
		</thead>
      {% for copy in piece_instance %}
      {% if copy.kit.name == kit.name %}
      <tr class="datarow">
        <td><a href="{{ copy.get_absolute_url }}">{{ copy.serial_number }}</a></td>
        <td>{{copy.piece.piece_model}}</td>
	    {% if copy.fifth_location %}
	  	    <td>{{copy.location}}-{{copy.second_location|default_if_none:""}}-{{copy.third_location|default_if_none:""}}-{{copy.fourth_location|default_if_none:""}}-{{copy.fifth_location|default_if_none:""}}</td>
	    {% elif copy.fourth_location %}
	    	<td>{{copy.location}}-{{copy.second_location|default_if_none:""}}-{{copy.third_location|default_if_none:""}}-{{copy.fourth_location|default_if_none:""}}</td>
	     {% elif copy.third_location %}
	     	<td>{{copy.location}}-{{copy.second_location|default_if_none:""}}-{{copy.third_location|default_if_none:""}}</td>
	     {% else %}
	     	<td>{{copy.location}}-{{copy.second_location|default_if_none:""}}</td>
	     {% endif %}
        <td>{{ copy.status }}</td>
        <td><a href="{% url 'update-piece-instance' copy.id %}" class="btn btn-outline-secondary btn-sm">Update</a>
        <td><a href="{% url 'instance-clone' copy.id %}" class="btn btn-outline-secondary btn-sm">Clone</a></td>
      </tr>
	{% endif %}
	{% endfor %}
	</table>
    {% endif %}
</div>
{% endblock %}