{% extends 'base/base.html' %}

{% block content %}
<div class="card">
  <div class="card-header">
    Assembly Detail
  </div>
  <div class="card-body">
    <h5 class="card-title"> Assembly Name : {{ kit.name }}</h5>
    <p class="card-text">
    <ul>
        <p><strong>Group Assembly:</strong> {{ kit.group_assembly }}</p>
        <p><strong>Description:</strong> {{ kit.description }}</p>
        <a><strong>Part Number:</strong> <a href="{{ kit.group_assembly.get_absolute_url }}"> {{ kit.group_assembly.kit_partnumber }}</a></p>
        <p><strong>Serial Number:</strong> {{ kit.kit_serialnumber }}</p>
        <p><strong>Status:</strong> {{ kit.kit_status }}</p>
	  	<p><strong>Location: </strong>{% if kit.eighth_location %}
            <td>{{kit.first_location}}-{{kit.second_location|default_if_none:""}}-{{kit.third_location|default_if_none:""}}-{{kit.fourth_location|default_if_none:""}}-{{kit.fifth_location|default_if_none:""}}-{{kit.sixth_location|default_if_none:""}}-{{kit.seventh_location|default_if_none:""}}-{{kit.eighth_location|default_if_none:""}}</td>
        		{% elif kit.seventh_location %}
            <td>{{kit.first_location}}-{{kit.second_location|default_if_none:""}}-{{kit.third_location|default_if_none:""}}-{{kit.fourth_location|default_if_none:""}}-{{kit.fifth_location|default_if_none:""}}-{{kit.sixth_location|default_if_none:""}}-{{kit.seventh_location|default_if_none:""}}</td>
        		{% elif kit.sixth_location %}
            <td>{{kit.first_location}}-{{kit.second_location|default_if_none:""}}-{{kit.third_location|default_if_none:""}}-{{kit.fourth_location|default_if_none:""}}-{{kit.fifth_location|default_if_none:""}}-{{kit.sixth_location|default_if_none:""}}</td>
        		{% elif kit.fifth_location %}
            <td>{{kit.first_location}}-{{kit.second_location|default_if_none:""}}-{{kit.third_location|default_if_none:""}}-{{kit.fourth_location|default_if_none:""}}-{{kit.fifth_location|default_if_none:""}}</td>
        		{% elif kit.fourth_location %}
            <td>{{kit.first_location}}-{{kit.second_location|default_if_none:""}}-{{kit.third_location|default_if_none:""}}-{{kit.fourth_location|default_if_none:""}}</td>
        		{% elif kit.third_location %}
            <td>{{kit.first_location}}-{{kit.second_location|default_if_none:""}}-{{kit.third_location|default_if_none:""}}</td>
        		{% else %}
            <td>{{kit.first_location}}-{{kit.second_location|default_if_none:""}}</td>
        		{% endif %}</p>
		<p><strong>History:</strong></p>
			<table class="table table-light table-striped">
				<thead>
    			<tr>
				<th>Group Assembly</th>
    			<th>Type of update</th>
				<th>User</th>
				<th>Time</th>
    			<th>Update Comment</th>
				<th>Status</th>
				<th>Location</th>
				</tr>
			</thead>
			{% for h in kit.get_history %}
			<tr class="datarow">
				<td>{{ kit.group_assembly }}</td>
				<td>{{ h.get_history_type_display }}</td>
				<td>{{ h.history_user }}</td>
				<td>{{ h.history_date }}</td>
				<td>{{ h.update_comment }} </td>
				<td>{{ h.kit_status }} </td>
				{% if h.eighth_location %}
	  				<td>{{h.first_location}}-{{h.second_location|default_if_none:""}}-{{h.third_location|default_if_none:""}}-{{h.fourth_location|default_if_none:""}}-{{h.fifth_location|default_if_none:""}}-{{h.sixth_location|default_if_none:""}}-{{h.seventh_location|default_if_none:""}}-{{h.eighth_location|default_if_none:""}}</td>
	  			{% elif h.seventh_location %}
	  				<td>{{h.first_location}}-{{h.second_location|default_if_none:""}}-{{h.third_location|default_if_none:""}}-{{h.fourth_location|default_if_none:""}}-{{h.fifth_location|default_if_none:""}}-{{h.sixth_location|default_if_none:""}}-{{h.seventh_location|default_if_none:""}}</td>
	  			{% elif h.sixth_location %}
	  				<td>{{h.first_location}}-{{h.second_location|default_if_none:""}}-{{h.third_location|default_if_none:""}}-{{h.fourth_location|default_if_none:""}}-{{h.fifth_location|default_if_none:""}}-{{h.sixth_location|default_if_none:""}}</td>
	  			{% elif h.fifth_location %}
	  				<td>{{h.first_location}}-{{h.second_location|default_if_none:""}}-{{h.third_location|default_if_none:""}}-{{h.fourth_location|default_if_none:""}}-{{h.fifth_location|default_if_none:""}}</td>
	  			{% elif h.fourth_location %}
	  				<td>{{h.first_location}}-{{h.second_location|default_if_none:""}}-{{h.third_location|default_if_none:""}}-{{h.fourth_location|default_if_none:""}}</td>
	  			{% elif h.third_location %}
	  				<td>{{h.first_location}}-{{h.second_location|default_if_none:""}}-{{h.third_location|default_if_none:""}}</td>
	  			{% else %}
	  				<td>{{h.first_location}}-{{h.second_location|default_if_none:""}}</td>
	  			{% endif %}
			</tr>
			{% endfor %}
		</table>
    </p>
	  <td><a href="{% url 'assembly-history' kit.id %}" class="btn btn-outline-secondary btn-sm">Full History</a>
	  <td><a href="{% url 'kit-update' kit.id %}" class="btn btn-outline-secondary btn-sm">Update</a></td>
  </div>
</div>

<div class="card-2">
  <div class="card-header">
    Instances
  </div>
    {% if piece_instance %}
    <table class="table table-light table-striped">
	    <thead>
		<tr>
		<td><p>CAE Serial Number</p></td>
		<td><p>Model</p></td>
		<td><p>Location</p></td>
		<td><p>Status</p></td>
        </tr>
		</thead>
      {% for copy in piece_instance %}
		{% if copy %}
      <tr class="datarow">
        <td><a href="{{ copy.get_absolute_url }}">{{ copy.serial_number }}</a></td>
        <td>{{copy.piece.piece_model}}</td>
	    {% if copy.fifth_location %}
	  	    <td>{{copy.first_location}}-{{copy.second_location|default_if_none:""}}-{{copy.third_location|default_if_none:""}}-{{copy.fourth_location|default_if_none:""}}-{{copy.fifth_location|default_if_none:""}}</td>
	    {% elif copy.fourth_location %}
	    	<td>{{copy.first_location}}-{{copy.second_location|default_if_none:""}}-{{copy.third_location|default_if_none:""}}-{{copy.fourth_location|default_if_none:""}}</td>
	     {% elif copy.third_location %}
	     	<td>{{copy.first_location}}-{{copy.second_location|default_if_none:""}}-{{copy.third_location|default_if_none:""}}</td>
	     {% else %}
	     	<td>{{copy.first_location}}-{{copy.second_location|default_if_none:""}}</td>
	     {% endif %}
        <td>{{ copy.status }}</td>
        <td><a href="{% url 'update-piece-instance' copy.id %}" class="btn btn-outline-secondary btn-sm">Update</a>
        <td><a href="{% url 'instance-clone' copy.id %}" class="btn btn-outline-secondary btn-sm">Clone</a></td>
      </tr>
		{% endif %}
	{% endfor %}
	</table>
    {% endif %}
</div>
{% endblock %}