{% extends 'base/base.html' %}

{% block content %}
  <h1>Assembly List</h1>
  <br/>
  {% if kit_list %}
  <p>There are assemblies in the inventory.</p>
{% csrf_token %}
<table class="table table-light table-striped">
  <thead>
    <tr>
	<th>Assembly Name</th>
    <th>Assembly Serial Number</th>
	<th>Assembly Description</th>
	</tr>
  </thead>
    {% for kit in kit_list %}
    <tr class="datarow">
      <td><a href="{{ kit.get_absolute_url }}">{{ kit.name }}</a></td>
      <td>{{ kit.kit_serialnumber }}</td>
      <td>{{ kit.description }}</td>
    </tr>
    {% endfor %}
</table>
  {% else %}
    <p>There are no assembly in the inventory.</p>
  {% endif %}
{% endblock %}