{% extends 'base/base.html' %}

{% block content %}
<div class="card">
  <div class="card-header">
    Movement Detail
  </div>
  <div class="card-body">
    <h5 class="card-title"> Reference Number : {{ movement.reference_number }}</h5>
    <p class="card-text">
    	<ul>
  <p><strong>This item:</strong> {{movement.item_1}}</p>
  <p><strong>Was replaced with this item:</strong> {{movement.item_2}}</p>
  <p><strong>Reason for item being replaced:</strong> {{movement.update_comment_item1}}</p>
  <p><strong>Reason for item chosen to replace:</strong> {{movement.update_comment_item2}}</p>
  <p><strong>Date it was done:</strong> {{movement.date_created}}</p>
	</ul>
  </div>
</div>

{% if movement.revert_button %}
<form class="d-flex" method="POST"
action="{%url 'movement_revert' movement.id %}">
    {% csrf_token %}
    <button class="btn btn-outline-secondary" type="submit"> Revert </button>
</form>
{% endif %}
{% endblock %}