{% extends 'base/base.html' %}
{% block content %}
<table>
	{% csrf_token %}
	<tr>
	   <form action="" method="post">
	  {% csrf_token %}
		<td>{{form.piece}}</td>
		<td>{{form.instance_number}}</td>
		<td>{{form.location}}</td>
		<td>{{form.status}}</td>
		<td>{{form.owner}}</td>
		<td>{{form.restriction}}</td>
		<td> <input class="table_button" type="submit" value="Add" /></td>
	</form>
	</td></tr>
	    <thead>
		<tr>
		<td><p>Piece</p></td>
		<td><p>Instance Number</p></td>
		<td><p>Location</p></td>
		<td><p>Status</p></td>
		<td><p>Owner</p></td>
		<td><p>Restriction</p></td>
		</tr>
		</thead>
		{% for item in inventory %}
			<tr class="datarow">
				<td>{{item.piece}}</td>
				<td>{{item.instance_number}}</td>
				<td>{{item.location}}</td>
				<td>{{item.status}}</td>
				<td>{{item.owner}}</td>
				<td>{{item.restriction}}</td>
				<td>
				<form action="{% url 'delete-instance' %}" method="post">
		           {% csrf_token %}
					<input type="hidden" name="piece_instance_id" value="{{item.id}}" />
					<input type="submit" value="delete">
				</form>
	         	</td>
		  		<td>
		  		<form action="{% url 'update-instance' %}" method="post">
		           {% csrf_token %}
					<input type="hidden" name="piece_instance_id" value="{{item.id}}" />
					<input type="submit" value="update">
				</form>
	         	</td>
              </td>
        </tr>
{% endfor %}
</table>
{% endblock %}