{% extends 'base/base.html' %}

{% block content %}
	
	<h1>Piece Instances</h1>
	<br/>

{% if piece_instance_list %}

<table class="table table-light table-striped">
  <thead>
    <tr>
	<th>Part Number</th>
	<th>CAE Serial Number</th>
	<th>Location</th>
	<th>Status</th>
	</tr>
  </thead>
    {% for piece_instance in piece_instance_list %}
<!--      <li>-->
<!--        <a href="{{ piece.get_absolute_url }}">{{ piece.cae_serialnumber }}</a>-->
    <tr class="datarow">
      <td><a href="{{ piece_instance.piece.get_absolute_url }}">{{ piece_instance.piece.part_number }}</a></td>
      <td>{{ piece_instance.piece.cae_serialnumber }}</td>
      <td>{{ piece_instance.location }}</td>
      <td>{{ piece_instance.status }}</td>
    </tr>
    {% endfor %}
</table>
  {% else %}
    <p>There are no instance in the inventory.</p>
  {% endif %}
{% endblock %}