{% extends 'base/base.html' %}

{% block content %}
<div class="card">
  <div class="card-header">
    Piece Detail
  </div>
  <div class="card-body">
    <h5 class="card-title"> Manufacturer part number : {{ piece.part_number }}</h5>
    <p class="card-text">
    	<ul>
  <p><strong>Piece Model:</strong> {{ piece.piece_model }}</p>
  <p><strong>Description:</strong> {{ piece.description }}</p>
  <p><strong>Documentation:</strong> {{ piece.documentation }}</p>
  <p><strong>Type:</strong> {{ piece.item_type }}</p>
  <p><strong>Characteristic:</strong> {{ piece.item_characteristic }}</p>
  <p><strong>Manufacturer:</strong> {{ piece.manufacturer }}</p>
  <a href="{{ piece.website }}">{{ piece.website }}</a>

	</ul>
    </p>
  </div>
</div>

<!--  <li><a href="{% url 'piece-instance-detail' %}">Instances detail</a></li>-->
<div class="card-2">
  <div class="card-header">
    Available Instances
  </div>
    {% if piece_instance %}
    <table class="table table-light table-striped">
	    <thead>
		<tr>
		<td><p>In Use</p></td>
		<td><p>In Stock</p></td>
		<td><p>Refurbishing</p></td>
		<td><p>Reparation</p></td>
		</tr>
		</thead>
      {% if piece_instance.piece.part_number == piece.part_number %}
      <tr class="datarow">
				<td>{{ instance_in_use }}</td>
                <td>{{ instance_in_stock }}</td>
				<td>{{ instance_in_refurbishing }}</td>
                <td>{{ instance_in_reparation }}</td>
<!--				<td>-->
<!--		  		<form action="{% url 'delete-instance' %}" method="post">-->
<!--		           {% csrf_token %}-->
<!--					<input type="hidden" name="piece_instance_id" value="{{copy.id}}" />-->
<!--					<input type="submit" value="delete instance">-->
<!--				</form>-->
<!--	         	</td>-->
        </tr>
	{% endif %}
	</table>

    <table class="table table-light table-striped">
	    <thead>
		<tr>
		<td><p>Serial Number</p></td>
		<td><p>Location</p></td>
		<td><p>Status</p></td>
		</tr>
		</thead>
      {% for copy in piece_instance %}
      {% if copy.piece.cae_serialnumber == piece.cae_serialnumber %}
      <tr class="datarow">
				<td>{{ copy.serial_number }}</td>
				<td>{{ copy.location }}</td>
                <td>{{ copy.status }}</td>
<!--				<td>-->
<!--		  		<form action="{% url 'delete-instance' %}" method="post">-->
<!--		           {% csrf_token %}-->
<!--					<input type="hidden" name="piece_instance_id" value="{{copy.id}}" />-->
<!--					<input type="submit" value="delete instance">-->
<!--				</form>-->
<!--	         	</td>-->
        </tr>
	{% endif %}
	{% endfor %}
	</table>
    {% endif %}
</div>
{% endblock %}