{% extends 'base/base.html' %}
{% block content %}
<table>
	{% csrf_token %}
	<tr>
	   <form action="" method="post">
	  {% csrf_token %}
		<td>{{form.piece}}</td>
		<td>{{form.instance_number}}</td>
		<td>{{form.location}}-{{form.second_location|default_if_none:""}}-{{form.third_location|default_if_none:""}}-{{form.fourth_location|default_if_none:""}}-{{form.fifth_location|default_if_none:""}}</td>
		<td>{{form.status}}</td>
		<td> <input class="table_button" type="submit" value="Add" /></td>
	</form>
	</td></tr>
	    <thead>
		<tr>
		<td><p>Piece</p></td>
		<td><p>CAE Serial Number</p></td>
		<td><p>Provider</p></td>
		<td><p>Provider Serial Number</p></td>
		<td><p>Creation Date</p></td>
		<td><p>Last update</p></td>
		<td><p>Calibration Reccurence in Days</p></td>
		<td><p>Next Calibration</p></td>
		<td><p>End of Life</p></td>
		<td><p>Guarantee Expiration</p></td>
		<td><p>Location</p></td>
		<td><p>Status</p></td>
		</tr>
		</thead>
		{% for item in inventory %}
			<tr class="datarow">
				<td>{{item.piece}}</td>
				<td>{{item.serial_number}}</td>
				<td>{{item.provider}}</td>
				<td>{{item.provider_serialnumber}}</td>
				<td>{{item.date_created}}</td>
				<td>{{item.date_update}}</td>
				<td>{{item.calibration_recurrence}}</td>
				<td>{{item.date_calibration}}</td>
				<td>{{item.date_end_of_life}}</td>
				<td>{{item.date_guarantee}}</td>
				{% if item.fifth_location %}
					<td>{{item.location}}-{{item.second_location|default_if_none:""}}-{{item.third_location|default_if_none:""}}-{{item.fourth_location|default_if_none:""}}-{{item.fifth_location|default_if_none:""}}</td>
				{% elif item.fourth_location %}
					<td>{{item.location}}-{{item.second_location|default_if_none:""}}-{{item.third_location|default_if_none:""}}-{{item.fourth_location|default_if_none:""}}</td>
				{% elif item.third_location %}
					<td>{{item.location}}-{{item.second_location|default_if_none:""}}-{{item.third_location|default_if_none:""}}</td>
				{% else %}
					<td>{{item.location}}-{{item.second_location|default_if_none:""}}</td>
				{% endif %}
				<td>{{item.status}}</td>
				<td>
				<form action="{% url 'delete-instance' %}" method="post">
		           {% csrf_token %}
					<input type="hidden" name="piece_instance_id" value="{{item.id}}" />
					<input type="submit" value="delete">
				</form>
	         	</td>
		  		<td>
		  		<form action="{% url 'update-instance' %}" method="post">
		           {% csrf_token %}
					<input type="hidden" name="piece_instance_id" value="{{item.id}}" />
					<input type="submit" value="update">
				</form>
	         	</td>
              </td>
        </tr>
		{% endfor %}
</table>
{% endblock %}