{% extends 'base/base.html' %}

{% block content %}
<div class="card">
  <div class="card-header">
    Piece Detail
  </div>
  <div class="card-body">
    <h5 class="card-title"> {{ piece.part_number }}</h5>
    <p class="card-text">
    	<ul>
  <p><strong>Piece Model:</strong> {{ piece.piece_model }}</p>
  <p><strong>Description:</strong> {{ piece.description }}</p>
  <p><strong>Documentation:</strong> {{ piece.documentation }}</p>
  <p><strong>Type:</strong> {{ piece.item_type }}</p>
  <p><strong>Characteristic:</strong> {{ piece.item_characteristic }}</p>
	<li><a href="{{ piece.website }}">{{ piece.website }}</a></li>

	</ul>
    </p>
  </div>
</div>

<!--  <li><a href="{% url 'piece-instance-detail' %}">Instances detail</a></li>-->
<div class="card-2">
  <div class="card-header">
    Available Instances
  </div>
    {% if piece_instance %}
    <table class="table table-light table-striped">
	    <thead>
		<tr>
		<td><p>Instance Number</p></td>
		<td><p>Color</p></td>
		</tr>
		</thead>
      {% for copy in piece_instance %}
      {% if copy.piece.part_number == piece.part_number %}
      <tr class="datarow">
				<td>{{copy.instance_number}}</td>
				<td>{{copy.color}}</td>
				<td>
				<td>
<!--		  		<form action="{% url 'delete-instance' %}" method="post">-->
<!--		           {% csrf_token %}-->
<!--					<input type="hidden" name="piece_instance_id" value="{{copy.id}}" />-->
<!--					<input type="submit" value="delete instance">-->
<!--				</form>-->
	         	</td>
        </tr>
	{% endif %}
	{% endfor %}
	</table>
    {% endif %}
</div>
{% endblock %}