{% extends 'base/base.html' %}

{% block content %}
	{% csrf_token %}
	<div class="card">
  	<div class="card-header">
    Piece Instance Detail
  	</div>
  	<div class="card-body">
		<h5 class="card-title"> CAE Serial Number : {{ piece_instance.serial_number}}</h5>
		<p class="card-text">
  		<p><strong>Manufacturer Part Number:</strong> <a href="{{ piece_instance.piece.get_absolute_url }}">{{ piece_instance.piece.manufacturer_part_number }}</a></p>
		{% if piece_instance.kit %}
			<p><strong>Kit:</strong> {{ piece_instance.kit }}</p>
		{% endif %}
  		{% if piece_instance.piece.image %}
  			<p><img src="{{ piece_instance.piece.image.url}}" alt="connect" style="max-height:300px" align="right"></p>
  		{% endif %}
		<p><strong>Calibration document is stored there: </strong> {{ piece_instance.calibration_document }}</p>
  		<p><strong>OEM:</strong> {{ piece_instance.piece.provider }}</p>
  		<p><strong>OEM Serial Number:</strong> {{ piece_instance.provider_serialnumber }}</p>
  		<p><strong>Manufacturer Serial Number:</strong> {{ piece_instance.manufacturer_serialnumber }}</p>
  		<p><strong>Date Created:</strong> {{ piece_instance.date_created }}</p>
		<p><strong>Last Update:</strong> {{ piece_instance.date_update }}</p>
  		<p><strong>Next Calibration:</strong> {{ piece_instance.date_calibration }}</p>
  		<p><strong>End of Life:</strong> {{ piece_instance.date_end_of_life }}</p>
		{% if piece_instance.fifth_location %}
			<p><strong>Location:</strong>{{piece_instance.location}}-{{piece_instance.second_location|default_if_none:""}}-{{piece_instance.third_location|default_if_none:""}}-{{piece_instance.fourth_location|default_if_none:""}}-{{piece_instance.fifth_location|default_if_none:""}}</p>
		{% elif piece_instance.fourth_location %}
			<p><strong>Location:</strong>{{piece_instance.location}}-{{piece_instance.second_location|default_if_none:""}}-{{piece_instance.third_location|default_if_none:""}}-{{piece_instance.fourth_location|default_if_none:""}}</p>
		{% elif piece_instance.third_location %}
			<p><strong>Location:</strong>{{piece_instance.location}}-{{piece_instance.second_location|default_if_none:""}}-{{piece_instance.third_location|default_if_none:""}}</p>
		{% else %}
			<p><strong>Location:</strong>{{piece_instance.location}}-{{piece_instance.second_location|default_if_none:""}}</p>
		{% endif %}
  		<p><strong>Status:</strong> {{ piece_instance.status }}</p>
  		<p><strong>History:</strong></p>
		{% for h in piece_instance.history.all %}
   			<p>
			<td>{{ piece_instance }} was </td>
			<td>{{ h.get_history_type_display }} by </td>
			<td><strong>{{ h.history_user }}</strong> at time : </td>
			<td>{{ h.history_date }} with Status: </td>
			<td><strong>{{ h.status }}</strong> and Location: </td>
			{% if h.fifth_location %}
				<td><strong>{{h.location}}-{{h.second_location|default_if_none:""}}-{{h.third_location|default_if_none:""}}-{{h.fourth_location|default_if_none:""}}-{{h.fifth_location|default_if_none:""}}</strong></td>
			{% elif h.fourth_location %}
				<td><strong>{{h.location}}-{{h.second_location|default_if_none:""}}-{{h.third_location|default_if_none:""}}-{{h.fourth_location|default_if_none:""}}</strong></td>
			{% elif h.third_location %}
				<td><strong>{{h.location}}-{{h.second_location|default_if_none:""}}-{{h.third_location|default_if_none:""}}</strong></td>
			{% else %}
				<td><strong>{{h.location}}-{{h.second_location|default_if_none:""}}</strong></td>
			{% endif %}
			</p>
		{% endfor %}
    	</p>
		<td><a href="{% url 'update-piece-instance' piece_instance.id %}" class="btn btn-outline-secondary btn-sm">Update</a>
        <td><a href="{% url 'instance-clone' piece_instance.id %}" class="btn btn-outline-secondary btn-sm">Clone</a></td>
  	</div>
	</div>
{% endblock %}