{% extends 'base/base.html' %}

{% block content %}
<center>
    {% if searched %}
    <h1> You searched for {{ searched }} </h1>
    <br/>
    <table class="table table-light table-striped">
    <thead>
    <tr>
	<th>Piece Model</th>
	<th>Manufacturer</th>
	<th>CAE Serial Number</th>
	<th>Documentation</th>
	<th>Type</th>
	<th>Characteristic</th>
	</tr>
    </thead>
    <tr class="datarow">
      {% for result in results %}
      <td><a href="{{ piece.get_absolute_url }}">{{ result.piece_model }}</a></td>
      <td>{{ result.manufacturer }}</td>
      <td>{{ result.documentation }}</td>
      <td>{{ result.item_type }}</td>
      <td>{{ result.item_characteristic }}</td>
    </tr>
    {% endfor %}
</table>
    {% else %}
    <h1> You forgot to search a specific term </h1>
    {% endif %}
</center>
{% endblock %}