{% extends 'base/base.html' %}

{% block content %}
<center>
    {% if searched %}
    <h1> You searched for {{ searched }} </h1>
    <br/>
    <table class="table table-light table-striped">
    <thead>
    <tr>
	<th>Name</th>
	<th>Group Assembly</th>
	<th>Part Number</th>
	<th>Serial Number</th>
	<th>Location</th>
	<th>Status</th>
	</tr>
    </thead>
    <tr class="datarow">
      {% for result in results %}
      <td><a href="{{ result.get_absolute_url }}">{{ result.name }}</a></td>
      <td><a href="{{ result.group_assembly.get_absolute_url }}">{{ result.group_assembly.name }}</a></td>
      <td>{{ result.group_assembly.kit_partnumber }}</td>
      <td>{{ result.kit_serialnumber }}</td>
        {% if result.eighth_location %}
            <td>{{result.first_location}}-{{result.second_location|default_if_none:""}}-{{result.third_location|default_if_none:""}}-{{result.fourth_location|default_if_none:""}}-{{result.fifth_location|default_if_none:""}}-{{result.sixth_location|default_if_none:""}}-{{result.seventh_location|default_if_none:""}}-{{result.eighth_location|default_if_none:""}}</td>
        {% elif result.seventh_location %}
            <td>{{result.first_location}}-{{result.second_location|default_if_none:""}}-{{result.third_location|default_if_none:""}}-{{result.fourth_location|default_if_none:""}}-{{result.fifth_location|default_if_none:""}}-{{result.sixth_location|default_if_none:""}}-{{result.seventh_location|default_if_none:""}}</td>
        {% elif result.sixth_location %}
            <td>{{result.first_location}}-{{result.second_location|default_if_none:""}}-{{result.third_location|default_if_none:""}}-{{result.fourth_location|default_if_none:""}}-{{result.fifth_location|default_if_none:""}}-{{result.sixth_location|default_if_none:""}}</td>
        {% elif result.fifth_location %}
            <td>{{result.first_location}}-{{result.second_location|default_if_none:""}}-{{result.third_location|default_if_none:""}}-{{result.fourth_location|default_if_none:""}}-{{result.fifth_location|default_if_none:""}}</td>
        {% elif result.fourth_location %}
            <td>{{result.first_location}}-{{result.second_location|default_if_none:""}}-{{result.third_location|default_if_none:""}}-{{result.fourth_location|default_if_none:""}}</td>
        {% elif result.third_location %}
            <td>{{result.first_location}}-{{result.second_location|default_if_none:""}}-{{result.third_location|default_if_none:""}}</td>
        {% else %}
            <td>{{result.first_location}}-{{result.second_location|default_if_none:""}}</td>
        {% endif %}
      <td>{{ result.kit_status }}</td>
    </tr>
    {% endfor %}
</table>
    {% else %}
    <h1> You forgot to search a specific term </h1>
    {% endif %}
</center>
{% endblock %}