{% extends 'base/base.html' %}

{% block content %}
<center>
    {% if searched %}
    <h1> You searched for {{ searched }} </h1>
    <br/>
    <table class="table table-light table-striped">
    <thead>
    <tr>
    <th>Manufacturer Part Number</th>
	<th>Piece Model</th>
	<th>CAE Part Number</th>
	<th>OEM</th>
	<th>OEM Part Number</th>
	<th>Manufacturer</th>
	<th>Type</th>
	<th>Characteristic</th>
	</tr>
    </thead>
    <tr class="datarow">
      {% for result in results %}
      <td><a href="{{ piece.get_absolute_url }}">{{ result.manufacturer_part_number }}</a></td>
      <td>{{ result.piece_model }}</td>
      <td>{{ result.cae_part_number }}</td>
      <td>{{ result.provider }}</td>
      <td>{{ result.provider_part_number }}</td>
      <td>{{ result.manufacturer }}</td>
      <td>{{ result.item_type }}</td>
      <td>{{ result.item_characteristic }}</td>
    </tr>
    {% endfor %}
</table>
    {% else %}
    <h1> You forgot to search a specific term </h1>
    {% endif %}
</center>
{% endblock %}