{% extends 'base/base.html' %}

{% block content %}
	{% csrf_token %}
	<div class="card">
  	<div class="card-header">
    Consumable Detail
  	</div>
  	<div class="card-body">
		<h5 class="card-title"> Name: {{ consumable.name}}</h5>
		<p class="card-text">
  		<p><strong>CAE Part Number: </strong> {{ consumable.cae_part_number }}</p>
  		<p><strong>CAE Serial Number: </strong> {{ consumable.serial_number}}</p>
  		<p><strong>Manufacturer: </strong> {{ consumable.manufacturer }}</p>
  		<p><strong>Manufacturer Part Number: </strong> {{ consumable.manufacturer_part_number }}</p>
  		<p><strong>Manufacturer Serial Number: </strong> {{ consumable.manufacturer_serialnumber}}</p>
  		<p><strong>OEM: </strong> {{ consumable.provider }}</p>
  		<p><strong>OEM Part Number: </strong> {{ consumable.provider_part_number }}</p>
  		<p><strong>OEM Serial Number: </strong> {{ consumable.provider_serialnumber}}</p>
  		{% if consumable.image %}
  			<p><img src="{{ consumable.image.url}}" alt="connect" style="max-height:300px" align="right"></p>
  		{% endif %}
  		<p><strong>Quantity available: </strong> {{ consumable.quantity }}</p>
  		<p><strong>Recommended stock: </strong> {{ consumable.low_stock_value }}</p>
        {% if consumable.website %}
  	      <a href="{{ consumable.website }}">{{ consumable.website }}</a>
        {% endif %}
  		<p><strong>Description: </strong> {{ consumable.description}}</p>
  		{% if consumable.documentation %}
  		<p><a href="{{MEDIA_URL}}{{ consumable.documentation }}"><strong>Documentation</strong> </a></p>
  		{% endif %}
        <p><strong>Type:</strong> {{ consumable.item_type }}</p>
        <p><strong>Characteristic:</strong> {{ consumable.item_characteristic }}</p>
        {% if consumable.is_rspl %}
          <p><strong>Is RSPL</strong></p>
        {% endif %}
        <p><strong>Location: </strong>{% if consumable.eighth_location %}
            <td>{{consumable.first_location}}-{{consumable.second_location|default_if_none:""}}-{{consumable.third_location|default_if_none:""}}-{{consumable.fourth_location|default_if_none:""}}-{{consumable.fifth_location|default_if_none:""}}-{{consumable.sixth_location|default_if_none:""}}-{{consumable.seventh_location|default_if_none:""}}-{{consumable.eighth_location|default_if_none:""}}</td>
        {% elif consumable.seventh_location %}
            <td>{{consumable.first_location}}-{{consumable.second_location|default_if_none:""}}-{{consumable.third_location|default_if_none:""}}-{{consumable.fourth_location|default_if_none:""}}-{{consumable.fifth_location|default_if_none:""}}-{{consumable.sixth_location|default_if_none:""}}-{{consumable.seventh_location|default_if_none:""}}</td>
        {% elif consumable.sixth_location %}
            <td>{{consumable.first_location}}-{{consumable.second_location|default_if_none:""}}-{{consumable.third_location|default_if_none:""}}-{{consumable.fourth_location|default_if_none:""}}-{{consumable.fifth_location|default_if_none:""}}-{{consumable.sixth_location|default_if_none:""}}</td>
        {% elif consumable.fifth_location %}
            <td>{{consumable.first_location}}-{{consumable.second_location|default_if_none:""}}-{{consumable.third_location|default_if_none:""}}-{{consumable.fourth_location|default_if_none:""}}-{{consumable.fifth_location|default_if_none:""}}</td>
        {% elif consumable.fourth_location %}
            <td>{{consumable.first_location}}-{{consumable.second_location|default_if_none:""}}-{{consumable.third_location|default_if_none:""}}-{{consumable.fourth_location|default_if_none:""}}</td>
        {% elif consumable.third_location %}
            <td>{{consumable.first_location}}-{{consumable.second_location|default_if_none:""}}-{{consumable.third_location|default_if_none:""}}</td>
        {% else %}
            <td>{{consumable.first_location}}-{{consumable.second_location|default_if_none:""}}</td>
        {% endif %}</p>
  		<p><strong>Status:</strong> {{ consumable.status }}</p>
  		<p><strong>Condition:</strong> {{ consumable.condition }}</p>
  		<p><strong>Owner:</strong> {{ consumable.owner }}</p>
  		<p><strong>Restriction:</strong> {{ consumable.restriction }}</p>
  		<p><strong>History:</strong></p>
			<table class="table table-light table-striped">
				<thead>
    			<tr>
    			<th>Type of update</th>
				<th>User</th>
				<th>Time</th>
    			<th>Update Comment</th>
				<th>Update Document</th>
    			<th>Quantity</th>
				<th>Location</th>
				</tr>
			</thead>
			{% for h in consumable.get_history %}
			<tr class="datarow">
				<td>{{ h.get_history_type_display }}</td>
				<td>{{ h.history_user }}</td>
				<td>{{ h.history_date }}</td>
				<td>{{ h.update_comment }} </td>
				<td><a href="{{MEDIA_URL}}{{ h.update_document }}">{{ h.update_document }}</a></td>
				<td>{{ h.quantity }}</td>
				{% if h.eighth_location %}
	  				<td>{{h.first_location}}-{{h.second_location|default_if_none:""}}-{{h.third_location|default_if_none:""}}-{{h.fourth_location|default_if_none:""}}-{{h.fifth_location|default_if_none:""}}-{{h.sixth_location|default_if_none:""}}-{{h.seventh_location|default_if_none:""}}-{{h.eighth_location|default_if_none:""}}</td>
	  			{% elif h.seventh_location %}
	  				<td>{{h.first_location}}-{{h.second_location|default_if_none:""}}-{{h.third_location|default_if_none:""}}-{{h.fourth_location|default_if_none:""}}-{{h.fifth_location|default_if_none:""}}-{{h.sixth_location|default_if_none:""}}-{{h.seventh_location|default_if_none:""}}</td>
	  			{% elif h.sixth_location %}
	  				<td>{{h.first_location}}-{{h.second_location|default_if_none:""}}-{{h.third_location|default_if_none:""}}-{{h.fourth_location|default_if_none:""}}-{{h.fifth_location|default_if_none:""}}-{{h.sixth_location|default_if_none:""}}</td>
	  			{% elif h.fifth_location %}
	  				<td>{{h.first_location}}-{{h.second_location|default_if_none:""}}-{{h.third_location|default_if_none:""}}-{{h.fourth_location|default_if_none:""}}-{{h.fifth_location|default_if_none:""}}</td>
	  			{% elif h.fourth_location %}
	  				<td>{{h.first_location}}-{{h.second_location|default_if_none:""}}-{{h.third_location|default_if_none:""}}-{{h.fourth_location|default_if_none:""}}</td>
	  			{% elif h.third_location %}
	  				<td>{{h.first_location}}-{{h.second_location|default_if_none:""}}-{{h.third_location|default_if_none:""}}</td>
	  			{% else %}
	  				<td>{{h.first_location}}-{{h.second_location|default_if_none:""}}</td>
	  			{% endif %}
			</tr>
			{% endfor %}
		</table>
	<td><a href="{% url 'consumable-history' consumable.id %}" class="btn btn-outline-secondary btn-sm">Full History</a>
	<td><a href="{% url 'consumable-update' consumable.id %}" class="btn btn-outline-secondary btn-sm">Update</a>
    <td><a href="{% url 'consumable-clone' consumable.id %}" class="btn btn-outline-secondary btn-sm">Clone</a></td>
  	</div>
	</div>
{% endblock %}